@font-face {
  font-family: 'Star Trek';
  src: url('fonts/Star Trek Enterprise Future.eot');
  src: local('☺'), url('fonts/Star Trek Enterprise Future.woff') format('woff'), url('fonts/Star Trek Enterprise Future.ttf') format('truetype'), url('fonts/Star Trek Enterprise Future.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 1em;
  font-family: 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
  background-color: #BDC3C7;
}
ul, li {
  list-style-type: none;
}
i {
  font-style: normal;
}
h1, h2, h3 {
  font-weight: normal;
}
h1 i, h2 i, h3 i {
  display: block;
}
h1 i[lang="en"], h2 i[lang="en"], h3 i[lang="en"] {
  font-family: "Star Trek", 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
}

/* page and slides */
.page {
  position: relative;
  overflow: hidden;
}
.slide {
  position: relative;
  padding-top: 1px;
  margin-top: -1px;
  text-align: center;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-size: cover;
}
h1,
h2 {
  margin: 200px auto 0;
  padding: 10px;
}
h1 {
  color: rgb(44, 62, 80);
  font-size: 5.6em;
  width: 1024px;
}
h2 {
  font-size: 3.8em;
  width: 960px;
}
.slide .heading {
  color: rgb(236, 240, 241);
}
.heading-cv6 {
  background: rgb(26, 188, 156);
  background: rgba(26, 188, 156, 0.9);
}
.heading-cvn65 {
  background: rgb(52, 152, 219);
  background: rgba(52, 152, 219, 0.9);
}
.heading-ov101 {
  background: rgb(155, 89, 182);
  background: rgba(155, 89, 182, 0.9);
}
.heading-ncc1701 {
  background: rgb(230, 126, 34);
  background: rgba(230, 126, 34, 0.9);
}
.heading-end {
  background: rgb(46, 204, 113);
  background: rgba(46, 204, 113, 0.9);
}

.background-cv6 {
  background-image: url(images/cv-6-1939.jpg);
}
.background-cvn65 {
  background-image: url(images/cvn-65-2012.jpg);
}
.background-ov101 {
  background-image: url(images/ov-101.jpg);
}
.background-ncc1701 {
  background-image: url(images/ncc-1701.jpg);
}
.background-end {
  background-image: url(images/uss-enterprises.jpg);
}

.background-cv6-legend {
  background-color: rgb(241, 196, 15);
}
.background-cvn65-legend {
  background-color: rgb(231, 76, 60);
}
.background-ov101-legend {
  background-color: rgb(52, 152, 219);
}
.background-ncc1701-legend {
  background-color: rgb(142, 68, 173);
}

.middle.slides,
.foreground.slides {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.foreground .slide {
  padding-bottom: 112.5%;
}
.middle .slide {
  padding-bottom: 225%;
}
/* page and slides */

/* inside slide */
.legend {
  position: absolute;
  text-align: left;
  font-size: 1.6em;
}
.legend-icon {
  font-weight: bold;
  margin-right: 0.5em;
}
.legend-icon:after {
  content: ":";
}
.illustration {
  position: absolute;
}

.legend.cv6 {
  color: rgb(44, 62, 80);
  right: 100px;
  top: 50px;
}
.illustration.cv6 {
  top: 50%;
  left: 10%;
}
.middle .illustration.cv6 {
  top: 12.5%;
}

.legend.cvn65 {
  color: rgb(236, 240, 241);
  left: 100px;
  top: 60%;
}
.illustration.cvn65 {
  width: 800px;
  height: auto;
  top: 0;
  right: 100px;
}
.foreground .legend.cvn65 {
  top: 30%;
}

.legend.ov101 {
  color: rgb(44, 62, 80);
  left: 100px;
  top: 40%;
}
.illustration.ov101 {
  width: auto;
  height: 80%;
  top: 0;
  right: 200px;
}
.foreground .legend.ov101 {
  top: 20%;
}
.middle .illustration.ov101 {
  height: 20%;
}
.illustration.ncc1701 {
  width: 80%;
  left: 50px;
  top: 20px;
}
.legend.ncc1701 {
  color: rgb(241, 196, 15);
  right: 200px;
  top: 50%;
}
.foreground .legend.ncc1701 {
  top: 25%;
}
/* inside slide */

/*scrollTop*/
.scrollTop {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  padding: 2px;
  color: white;
}
/*scrollTop*/