@font-face {
  font-family: 'Star Trek';
  src: url('fonts/Star Trek Enterprise Future.eot');
  src: local('☺'), url('fonts/Star Trek Enterprise Future.woff') format('woff'), url('fonts/Star Trek Enterprise Future.ttf') format('truetype'), url('fonts/Star Trek Enterprise Future.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 2em;
  font-family: 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
}
h1 i, h2 i, h3 i {
  font-style: normal;
  display: block;
}
h1 i[lang="en"], h2 i[lang="en"], h3 i[lang="en"] {
  font-family: "Star Trek", 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
}

/* page and slides */
.page {
  position: relative;
  overflow: hidden;
}
.slide {
  position: relative;
  padding-top: 1px;
  margin-top: -1px;
  text-align: center;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-size: cover;
}
.slide h1,
.slide h2 {
  margin: 100px auto 0;
  padding: 10px;
}
.slide h1 {
  font-size: 2.8em;
  width: 1024px;
}
.slide h2 {
  font-size: 1.9em;
  width: 960px;
}
.slide h1.invert,
.slide h2.invert {
  background: rgba(37, 177, 177, 0.3);
  color: #F5F5F5;
}
.slide.cv6 {
  background-image: url(images/cv-6-1939.jpg);
}
.slide.cvn65 {
  background-image: url(images/cvn-65-2012.jpg);
}
.slide.ov101 {
  background-image: url(images/ov-101.jpg);
}
.slide.ncc1701 {
  background-image: url(images/ncc-1701.jpg);
}
.middle.slides,
.foreground.slides {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.foreground .slide {
  padding-bottom: 112.5%;
}
.middle .slide {
  padding-bottom: 225%;
}
/* page and slides */

/* inside slide */
.legend {
  position: absolute;
  text-align: left;
}
.legend-icon {
  font-weight: bold;
  margin-right: 0.5em;
}
.legend-icon:after {
  content: ":";
}
.legend.cv6 {
  right: 100px;
  top: 50px;
}
.illustration {
  position: absolute;
}
.illustration.cv6 {
  top: 50%;
  left: 10%;
}

.middle .illustration.cv6 {
  top: 12.5%;
}
/* inside slide */

/*scrollTop*/
.scrollTop {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  padding: 2px;
  color: white;
}
/*scrollTop*/